<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ language }}" lang="{{ language }}" dir="{{ direction }}">

<head>
<script type=text/javascript>
function include(url,id) {
  var req = false;
  // For Safari, Firefox, and other non-MS browsers
  if (window.XMLHttpRequest) {
    try {
      req = new XMLHttpRequest();
    } catch (e) {
      req = false;
    }
  } else if (window.ActiveXObject) {
    // For Internet Explorer on Windows
    try {
      req = new ActiveXObject("Msxml2.XMLHTTP");
    } catch (e) {
      try {
        req = new ActiveXObject("Microsoft.XMLHTTP");
      } catch (e) {
        req = false;
      }
    }
  }
  if (req) {
    // send out the response
    req.open('GET', url, false); req.send(null);
    // if the optional 'id' element is present, insert returned text into it, otherwise write to the page wherever it was called
    document.getElementById(id) ? document.getElementById(id).innerHTML = req.responseText : document.write(req.responseText);
  } else {
    document.write('This browser does not support XMLHTTPRequest objects which are required for this page to work');
  }
}
</script>
<title>Der Mundo : {{ tagline }}</title>
{{metadata}}
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="author" content="Erwin Aligam - styleshout.com" />
<meta name="description" content="{{ introduction }}" />
<meta name="keywords" content="keywords, here" />
<meta name="robots" content="index, follow, noarchive" />
<meta name="googlebot" content="noarchive" />
<meta name="translate" content="n" />
<link rel="stylesheet" type="text/css" media="screen" href="http://www.dermundo.com/dermundocss/css/screen.css" />
{{google_analytics}}
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'902e01b2-5b17-45ca-9068-9bbeaf71ae2b'});</script>
</head>
<body>

	<!-- header starts-->
	<div id="header-wrap"><div id="header" class="container_16">						
		
		<h1 id="logo-text"><a href=/ title="">Der Mundo</a></h1>
		<p id="intro">{{ tagline }}</p>
		
		<!-- navigation -->
		<div  id="nav">
                        <ul>
                        <li><a href=http://wordpress.org/extend/plugins/speaklike-worldwide-lexicon-translator/>{{ wordpress_translator }}</a></li>
                        <li><a href=https://addons.mozilla.org/en-US/firefox/addon/13897>{{ firefox_translator }}</a></li>
                        <li><a href=http://www.dermundo.com/dermundo/publishers>{{ for_publishers }}</a></li>
                        <li><a href=http://www.dermundo.com/dermundo/journalists>{{ for_journalists }}</a></li>
                        <li><a href=http://www.dermundo.com/groups/>{{ dermundo_groups }}</a></li>
                        </ul>
                </div>
		
		<div id="header-image"></div>			
	
	<!-- header ends here -->
	</div></div>
	
	<!-- content starts -->
	<div id="content-outer"><div id="content-wrapper" class="container_16">
	
		<!-- main -->
		<div id="main" class="grid_8">
			
                        <!-- if no group, and not search, display main page -->
                        {% if not group %}
                        {% if not issearch %}
                        <h3>{{ dermundo_groups }}</h3>
                        <p>{{ groups_intro }}</p>
                        <h3>{{ search }}</h3>
                        <p><form action=/groups/ method=get>
                        <input type=text name=q size=40>
                        <input type=submit value="{{ submit }}"></form></p>
                        {% if groups %}
                        <h3>{{ new_groups }}<//h3>
                        {% for g in groups %}
                        <h4><a href=/groups/{{ g.id }}>{{ g.name }}</a></h4>
                        <p>{{ g.description }}</p>
                        {% endfor %}
                        {% endif %}
                        {% endif %}
                        {% endif %}
			<!-- main message board and group description -->
                        {% if bookmarks %}
                        <h3>{{ group_bookmarks }}</h3>
                        {% for b in bookmarks %}
                        <p><b><a href=http://www.dermundo.com/{{ b.url }}>{{ b.title }}</a></b> :{{ b.description }}</p>
                        {% endfor %}
                        {% endif %}
                        {% if messages %}
                        <h3>{{ group_messages }}</h3>
                        {% endif %}
                        
                        {% if ismember %}
                        <p><form action=/wwl/sendmessage method=get>
                        <input type=hidden name=label value="{{ group.id }}">
                        <textarea name=msg rows=3 cols=60></textarea><br>
                        {{ post_to_feed }} <input type=checkbox name=feed value=y><br>
                        <input type=submit value="{{ send_message }}">
                        </form></p>
                        {% endif %}
                        
                        {% if messages %}
                        {% for m in messages %}
                        <p>
                        <a href={{ m.senderprofile }}>{{ m.sendername}}</a> 
                        ({{ m.sendercity }}) <i>"
                        {{ m.message }}"</i></p>
                        {% endfor %}
                        {% endif %}
			<div class="clear">&nbsp;</div>
		
		<!-- main ends -->
		</div>
		
		<!-- left-columns starts -->
		<div id="left-columns" class="grid_8">
		
			<div class="grid_6 alpha">
                        <!-- moderator info -->
                        {% if not group %}
                        {% if current_user %}
                        <h3>{{ create_group }}</h3>
                        <p>{{ create_group_prompt }}</p>
                        <table>
                        <form action=/groups/create method=post>
                        <tr><td>{{ group_label }}<br><input type=text name=label></td></tr>
                        <tr><td>{{ group_title }}<br><input type=text name=title></td></tr>
                        <tr><td>{{ group_description }}<br><textarea name=description rows=4 cols=40></textarea></td></tr>
                        <tr><td>{{ group_tags }}<br><input type=text name=tags></td></tr>
                        <tr><td>{{ group_facebook_url }}<br><input type=text name=facebookurl></td></tr>
                        <tr><td>{{ group_discussion_url }}<br><input type=text name=discussionurl></td></tr>
                        <tr><td>{{ group_rss_feed }}<br><input type=text name=rssfeedurl></td></td>
                        <tr><td><input type=submit value="{{ submit }}"></td></tr>
                        </table></form>
                        {% endif %}
                        {% endif %}
                        <!-- Recent Group Members -->
                        {% if group %}
                        <h3>{{ group.name }}</h3>
                        <p>{{ group.description }}</p>
                        {% if group.discussionurl %}
                        <p><a href=http://{{ group.discussionurl }}>{{ group.discussionurl }}</a></p>
                        {% endif %}
                        {% if group.facebookurl %}
                        <p><a href=http://{{ group.facebookurl }}>Facebook</a></p>
                        {% endif %}
                        {% if group.rssfeed %}
                        <p><a href=http://{{ group.rssfeed }}>RSS</a></p>
                        {% endif %}
                        {% endif %}
                        
                        {% if current_user %}
                        {% if ismember %}
                        <p><a href=/groups/{{ group.id }}?leave=y>{{ leave_group }}</a></p>
                        {% else %}
                        <p><a href=/groups/{{ group.id }}?join=y>{{ join_group }}</a></p>
                        {% endif %}
                        {% else %}
                          <p>{{ group_facebook_login }}</p>
                          <p><fb:login-button autologoutlink="true" perms="email, publish_stream, user_about_me"></fb:login-button>                            
                          <!--{% if current_user %}
                            <p><a href="{{ current_user.profile_url }}"><img src="http://graph.facebook.com/{{ current_user.id }}/picture?type=square"/></a></p>
                          {% endif %}-->
                      
                          <div id="fb-root"></div>
                          <script>
                            window.fbAsyncInit = function() {
                              FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true, 
                                       xfbml: true});
                              FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
                                window.location.reload();
                              });
                            };
                            (function() {
                              var e = document.createElement('script');
                              e.type = 'text/javascript';
                              e.src = document.location.protocol + '//connect.facebook.net/{{ locale }}/all.js';
                              e.async = true;
                              document.getElementById('fb-root').appendChild(e);
                            }());
                          </script></p>
                        {% endif %}
                        
                        {% if ismember %}
                        <h3>{{ group_recommend }}</h3>
                        <p>{{ group_recommend_prompt }}</p>
                        <p><form action=/groups/savebookmark method=post>
                        <input type=hidden name=group value={{ group.id }}>
                        <p>URL:<br><input type=text name=url size=30></p>
                        <p>{{ input_title }}:<br><input type=text name=title size=30></p>
                        <p>{{ input_description }}<br><textarea name=description rows=5 cols=30></textarea></p>
                        <p>{{ input_language }}:<br><select name=language>{{ language_select }}</select></p>
                        <p>{{ input_tags }}:<br><input type=text name=tags size=30></p>
                        <p>{{ post_to_feed }}: <input type=checkbox name=feed value=y></p>
                        <p><input type=submit value="{{ submit }}"></p>
                        </form></p>
                        {% endif %}
                        
                        {% if members %}
                        <h3>{{ group_new_members }}</h3>
                        {% for m in members %}
                        <p><img src=http://graph.facebook.com/{{ m.id }}/picture?type=square>
                        <a href={{ m.profile_url }}>
                        {{ m.name }}</a></p>
                        {% endfor %}
                        {% endif %}
                        
			</div>
		
		<!-- end left-columns -->
		</div>		
	
	<!-- contents end here -->	
	</div></div>

	<!-- footer starts here -->	
	<div id="footer-wrapper" class="container_16">
	
		<div id="footer-bottom">
	
			<p class="bottom-left">			
			&nbsp; &copy;1998-2011 {{ copyright }} &nbsp; &nbsp;
			<a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>
			</p>	
			
			<p class="bottom-right" >
				<a href="index.html">Home</a> |
				<a href="index.html">Sitemap</a> |
				<a href="index.html">RSS Feed</a> |						
				<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | 
		   	    <a href="http://validator.w3.org/check/referer">XHTML</a>
			</p>
	
		</div>	
			
	</div>
	<!-- footer ends here -->

</body>
</html>