<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ language }}" lang="{{ language }}" dir="{{ direction }}">

<head>
<script type=text/javascript>
function include(url,id) {
  var req = false;
  // For Safari, Firefox, and other non-MS browsers
  if (window.XMLHttpRequest) {
    try {
      req = new XMLHttpRequest();
    } catch (e) {
      req = false;
    }
  } else if (window.ActiveXObject) {
    // For Internet Explorer on Windows
    try {
      req = new ActiveXObject("Msxml2.XMLHTTP");
    } catch (e) {
      try {
        req = new ActiveXObject("Microsoft.XMLHTTP");
      } catch (e) {
        req = false;
      }
    }
  }
  if (req) {
    // send out the response
    req.open('GET', url, false); req.send(null);
    // if the optional 'id' element is present, insert returned text into it, otherwise write to the page wherever it was called
    document.getElementById(id) ? document.getElementById(id).innerHTML = req.responseText : document.write(req.responseText);
  } else {
    document.write('This browser does not support XMLHTTPRequest objects which are required for this page to work');
  }
}
</script>
<title>Der Mundo : {{ tagline }}</title>
{{metadata}}
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="author" content="Erwin Aligam - styleshout.com" />
<meta name="description" content="{{ introduction }}" />
<meta name="keywords" content="keywords, here" />
<meta name="robots" content="index, follow, noarchive" />
<meta name="googlebot" content="noarchive" />
<meta name="translate" content="n" />
<link rel="stylesheet" type="text/css" media="screen" href="http://www.dermundo.com/dermundocss/css/screen.css" />
{{ google_analytics }}
<!--<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'902e01b2-5b17-45ca-9068-9bbeaf71ae2b'});</script>
-->
</head>
<body>

	<!-- header starts-->
	<div id="header-wrap"><div id="header" class="container_16">						
		
		<h1 id="logo-text"><a href=/ title="">Der Mundo</a></h1>
		<p id="intro">{{ tagline }}</p>
		
		<!-- navigation -->
		<div  id="nav">
                        <ul>
                        <li><a href=http://wordpress.org/extend/plugins/speaklike-worldwide-lexicon-translator/>{{ wordpress_translator }}</a></li>
                        <li><a href=http://www.dermundo.com/dermundo/publishers>{{ for_publishers }}</a></li>
                        <li><a href=http://www.dermundo.com/dermundo/journalists>{{ for_journalists }}</a></li>
                        <li><a href=http://www.dermundo.com/dermundo/faq>FAQ</a></li>
                        <li><a href=/groups/>{{ groups }}</a></li>
                        </ul>
                </div>
		
		<div id="header-image"></div>			
	
	<!-- header ends here -->
	</div></div>
	
	<!-- content starts -->
	<div id="content-outer"><div id="content-wrapper" class="container_16">
	
		<!-- main -->
		<div id="main" class="grid_8">
			
			<!-- main stream and search results -->
                        <h3>{{ translate }}</h3>
                        <p><form action=/translate/project method=get>
                        URL: <input type=text name=url size=40>
                        <input type=submit value="{{ submit }}">
                        </form></p>
                        
                        {% if current_user %}
                        <h3>{{ news_feed }}</h3>
                        <p>{{ send_message_prompt }}</p>
                        <p><form action=/wwl/sendmessage method=get>
                        <input type=hidden name=msgtype value=stream>
                        <textarea name=msg rows=3 cols=60></textarea><br>
                        {{ post_to_feed }} <input type=checkbox name=feed value=y><br>
                        <input type=submit value="{{ submit }}">
                        </form></p>
                        {% endif %}
                        
                        <h3>{{ search }}</h3>
                        <p>
                        <form action=/ method=get>
                        <input type=text name=q size=60>
                        <input type=submit value="{{ search }}">
                        </form></p>
                        {% if messages %}
                        {% for m in messages %}
                        <p>
                        <!--
                        <img align=left src=http://graph.facebook.com/{{ m.sender }}/picture?type=square>
                        -->
                        <a href={{ m.senderprofile }}>{{ m.sendername}}</a> (
                        <a href=/?city={{ m.sendercity }}>
                        {{ m.sendercity }}</a> , <a href=/?country={{ m.sendercountry }}>{{ m.sendercountry }}</a>) : 
                        {{ m.message }}
                        {% if current_user %}
                        {% ifequal m.sender current_user.id %}
                         <a href=/wwl/deletemessage/{{ m.guid }}>[{{ delete_message }}]</a>
                         {% endifequal %}
                         {% endif %}
                        </p>
                        {% endfor %}
                        {% endif %}
                        
                        {% if translations_from %}
                        <h3>{{ translations_from_your_language }}</h3>
                        {% for t in translations_from %}
                        <p>({{ t.sl }}) &rarr; ({{ t.tl }}) <a href=http://www.dermundo.com/{{ t.url }}>{{ t.title}}</a> / 
                        {{ translators }} : {% for tx in t.translators %}
                        {{ tx }}
                        {% endfor %}
                        </p>
                        {% endfor %}
                        {% endif %}
                        {% if translations_to %}
                        <h3>{{ translations_to_your_language }}</h3>
                        {% for t in translations_to %}
                        <p>({{ t.sl }}) &rarr; ({{ t.tl }}) <a href=http://www.dermundo.com/{{ t.url }}>{{ t.title }}</a> / 
                        {{ translators }} : {% for tx in t.translators %}
                        {{ tx }}
                        {% endfor %}
                        </p>
                        {% endfor %}
                        {% endif %}
			<div class="clear">&nbsp;</div>
		
		<!-- main ends -->
		</div>
		
		<!-- left-columns starts -->
		<div id="left-columns" class="grid_8">
		
			<div class="grid_6 alpha">
<!--                          <p><a border=0 href=https://api.twitter.com/oauth/authenticate>
                          <img src=/dermundoimage/twitter.png></a>-->
                          {% if not current_user %}
                          <p>{{ facebook_login_prompt }}</p>
                          {% endif %}
                          <p><fb:login-button autologoutlink="true" perms="email, publish_stream, user_about_me"></fb:login-button>                            
                          <!--{% if current_user %}
                            <p><a href="{{ current_user.profile_url }}"><img src="http://graph.facebook.com/{{ current_user.id }}/picture?type=square"/></a></p>
                          {% endif %}-->
                      
                          <div id="fb-root"></div>
                          <script>
                            window.fbAsyncInit = function() {
                              FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true, 
                                       xfbml: true});
                              FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
                                window.location.reload();
                              });
                            };
                            (function() {
                              var e = document.createElement('script');
                              e.type = 'text/javascript';
                              e.src = document.location.protocol + '//connect.facebook.net/{{ locale }}/all.js';
                              e.async = true;
                              document.getElementById('fb-root').appendChild(e);
                            }());
                          </script></p>
                          {% if not issearch %}
                          
                          <!--<h3>{{ share_this_page }}</h3>
                          <p><span class="st_twitter_vcount" displayText="Tweet"></span><span class="st_facebook_vcount" displayText="Share"></span><span class="st_email_vcount" displayText="Email"></span><span class="st_sharethis_vcount" displayText="Share"></span></p>
                          -->
                          {% endif %}
                        <!--<h3>{{ recommend_site }}</h3>-->
                        <!--<p>{{ recommend_site_prompt }}</p>-->
                        <!--<p>-->
                        <!--<form action=/wwl/guide method=post>-->
                        <!--URL: <input type=text name=url size=40 maxlen=40></p>-->
                        <!--<p>{{ input_title}}<input type=text name=title size=40 maxlen=40></p>-->
                        <!--<p>{{ input_description }}<br>-->
                        <!--<textarea name=description rows=3 cols=40 maxlen=100></textarea></p>-->
                        <!--<p>{{ input_tags }}: <input type=text name=tags size=40></p>-->
                        <!--<p>{{ input_language }}: <select name=language>-->
                        <!--{{ language_select }}</select></p>-->
                        <!--<p>{{ input_city }}: <input type=text name=city size=40></p>-->
                        <!--<p><input type=submit value="{{ submit }}"></form</p>-->
                        {% if grouplist %}
                        <h3>{{ new_groups }}</h3>
                        {% for g in grouplist %}
                        <h4><a href=/groups/{{ g.id }}>{{ g.name }}</a></h4>
                        <p>{{ g.description }}</p>
                        {% endfor %}
                        {% endif %}
                        {% if not issearch %}
                        <h3>{{ recent_visitors }}</h3>      
                        {% if visitors %}
                        {% for v in visitors %}
                        <p>
                        <img src=http://graph.facebook.com/{{ v.id }}/picture?type=square>
                        <a href={{ v.profile_url }}>
                        {{ v.name}}</a> 
                        (<a href=/?city={{ v.city }}>{{ v.city }}</a>)</p>
                        {% endfor %}
                        {% endif %}
                        {% endif %}
                        </div>
		<!-- end left-columns -->
		</div>		
	
	<!-- contents end here -->	
	</div></div>

	<!-- footer starts here -->	
	<div id="footer-wrapper" class="container_16">
	
		<div id="footer-bottom">
	
			<p class="bottom-left">			
			&nbsp; &copy;1998-2011 {{ copyright }} &nbsp; &nbsp;
			<a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>
			</p>	
			
			<p class="bottom-right" >
				<a href="index.html">Home</a> |
				<a href="index.html">Sitemap</a> |
				<a href="index.html">RSS Feed</a> |						
				<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | 
		   	    <a href="http://validator.w3.org/check/referer">XHTML</a>
			</p>
	
		</div>	
			
	</div>
	<!-- footer ends here -->

</body>
</html>