<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<title>Der Mundo : {{ tagline }}</title>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="author" content="Erwin Aligam - styleshout.com" />
<meta name="description" content="Site Description Here" />
<meta name="keywords" content="keywords, here" />
<meta name="robots" content="index, follow, noarchive" />
<meta name="googlebot" content="noarchive" />
{{ google_analytics }}

<link rel="stylesheet" type="text/css" media="screen" href="http://www.dermundo.com/dermundocss/css/screen.css" />

</head>
<body>
	
	<!-- content starts -->
	<div id="content-outer"><div id="content-wrapper" class="container_16">
	
		<!-- main -->
		<div id="main" class="grid_4">
                        <h3>Der Mundo</h3>
                        <p>{{ firefox_sidebar }}</p>
			<p>{{ shorturl_prompt }}</p>
			<p><a href={{ shorturl }}>
			{{ shorturl }}</a></p>
			{% if not current_user %}
				<p>{{ facebook_login_prompt }}</p>
			{% endif %}
			<p>
			<fb:login-button autologoutlink="true"></fb:login-button>                            
			<!--{% if current_user %}
			  <p><a href="{{ current_user.profile_url }}"><img src="http://graph.facebook.com/{{ current_user.id }}/picture?type=square"/></a></p>
			{% endif %}-->
		    
			<div id="fb-root"></div>
			<script>
			  window.fbAsyncInit = function() {
			    FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true, 
				     xfbml: true});
			    FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
			      window.location.reload();
			    });
			  };
			  (function() {
			    var e = document.createElement('script');
			    e.type = 'text/javascript';
			    e.src = document.location.protocol + '//connect.facebook.net/{{ locale }}/all.js';
			    e.async = true;
			    document.getElementById('fb-root').appendChild(e);
			  }());
			</script></p>
			<hr>
			<h4>{{ translators }}</h4>
			{% if recent_translators %}
			{% for t in recent_translators %}
			<a target=_new href="{{ t.profile_url }}">
			<img align=left alt="{{ t.username }} : {{ t.city }}" src="http://graph.facebook.com/{{ t.id }}/picture?type=square"/>
			</a>
			<a target=_new href="{{ t.profile_url }}">
			{{ t.username }}</a><br>
			{{ t.city }} , {{ t.country}}
			<p>
			{% endfor %}
			{% endif %}
			<div class="clear">&nbsp;</div>
		
		<!-- main ends -->
		</div>
			
	
	<!-- contents end here -->	
	</div></div>

</body>
</html>
